<% wrap_layout :layout_article do %>
  <div align=left>
  <h3 class="p-name"><%= current_page.data["title"]%></h3>
  <div class="blog">
  <a class="u-url" href="<%= current_page.url %>">#</a>
  by <a rel="author" class="p-author h-card" href="/" alt="Jason Yavorska">Jason Yavorska</a> <img height=15 width=15 class="u-photo" src="/images/me.jpg"/><br><br>
     <date hidden class="dt-published"><%= current_page.date.iso8601 %></date>
  </div>
  <div class="e-content">
  <%= yield %>
  </div>
  <br>
  <img class="counter" src="https://us-central1-metalunaio.cloudfunctions.net/counterFunction">
<%end%>