<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
      <title>Jason Yavorska's Blog</title>
      <link><%= data.config.site_url %>/</link>
      <atom:link href="<%= data.config.site_url %>/blog.rss.xml" rel="self" type="application/rss+xml" />
      <description><%= data.config.description %></description>
      <% blog('blog').articles.each do |article| %>
        <item>
          <title><%= article.title %></title>
          <pubDate><%= article.date.rfc822 %></pubDate>
          <link><%= data.config.site_url + article.url %></link>
          <guid><%= data.config.site_url + article.url %></guid>
          <category><%= article.data["category"] %></category>
          <description><%= article.data["description"] %></description>
        </item>          
      <% end %>
  </channel>
</rss>
